<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.hello {
  font-size: 80px;
  text-align: center;
}

</style>
<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <center><h1 class="hello">Repo Flower</h1>
  <p>The top K=8 of the most depended-on (i.e. popular) repos are chosen. Then, for each of these repos, only N=8 of the repo's dependees are shown, ranked by how many other repos depend on it (popularity). Then, for each of <i>these</i> repos, find its top N=8 most popular repos.</p>
  <p><a href="/go">Click here to visualize go repos</a></p>
  <br>
  <input type="text" id="search-text" name="query-repo" placeholder="user/repo">
  <br><br>
  <svg width="1200" height="800"></svg>
  <p>Victor Chen <a href="https://www.linkedin.com/in/victor-lam-chen">LinkedIn</a> <a href="http://github.com/ulysseses/repoflower">GitHub Repo</a> <a href="http://bit.ly/2cTDZxh">Presentation Slides</a></p>
  </center>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

var graph;

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-20))
    .force("center", d3.forceCenter(width / 2, height / 2));
// var simulation = d3.forceSimulation()
//     .force("link", d3.forceLink().id(function(d) { return d.id; })
//       .distance(function(d) { return 80; }))
//     .force("charge", d3.forceManyBody().strength(function(d) { return -d.group / 100; }))
//     .force("center", d3.forceCenter(width / 2, height / 2));

function refreshGraph() {
  svg.selectAll("*").remove();
  var _link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links, function(d) { return d.source + "/" + d.target; });
  
  var link = _link
    .enter().append("line")
      .attr("stroke-width", 2);
  
  _link.exit().remove();

  var _node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes, function(d) { return d.id; });
  
  var node = _node
    .enter().append("circle")
      .attr("r", 5)
      .attr("r", function(d) { return 1.5*Math.log2(d.group + 2) + 5; })
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));
  
  _node.exit().remove()

  node.append("title")
      .text(function(d) { return d.id; });
  
  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
}

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

$(document).ready(function() {
  $.get("/static/python_top_K.json",
    function(data, status) {
      graph = data;
      refreshGraph();
    }
  )
});

$("#search-text").keyup(function (e) {
    if (e.keyCode == 13) {
    var query_repo = $('#search-text').val();
    var tmp = query_repo.split("/");
    if (tmp.length == 2) {
      var user = tmp[0];
      var repo_name = tmp[1];
      if (user != "" && repo_name != "") {
        $.get(encodeURI("/python/" + user + "/" + repo_name),
          function(data, status) {
            if (status == "success") {
              graph = data;
              refreshGraph();
            }
          }
        )
      }
    }
  }
});

</script>
</html>